In [46]:
from pdfminer.pdfdocument import PDFDocument
from pdfminer.pdfpage import PDFPage
from pdfminer.pdfparser import PDFParser
from pdfminer.pdfinterp import PDFResourceManager, PDFPageInterpreter
from pdfminer.converter import PDFPageAggregator
from pdfminer.layout import LAParams, LTTextBox, LTTextLine, LTFigure
import pandas as pd
import numpy as np
import re

def parse_layout(layout, a, b):
    
    textDf = pd.DataFrame(columns=['x1', 'y1', 'x2', 'y2','y','text'])
    
    """Function to recursively parse the layout tree."""
    for lt_obj in layout:
        if isinstance(lt_obj, LTTextBox) or isinstance(lt_obj, LTTextLine):
            for obj in lt_obj:
                s = pd.Series({'x1':int(obj.bbox[0]), 'y1':int(obj.bbox[1]),'x2':int(obj.bbox[2]), 
                               'y2':int(obj.bbox[3]), 'y':float(0), 'text':obj.get_text().replace("\n", '')})
                textDf = textDf.append(s, ignore_index = True)  

    textDf = textDf.sort_values(['x1','y1'], ascending=True).reset_index(drop = True)

    # get the first characters' position of each row
    row_startDf = textDf[textDf['x1'] < textDf['x1'].min(axis=0) + b]
    
    rows = row_identifier(row_startDf, a)
    
    # check which row is each column in and set their y axis as the row's y
    for i in range(len(textDf)):
        y = -1
        for j in range(len(rows)):
            if float(textDf.iloc[i]['y2']) < rows.iloc[j]['upper_y'] and float(textDf.iloc[i]['y1']) > rows.iloc[j]['lower_y']:
                y = rows.iloc[j]['y']
                break
        #textDf.set_value(i, 'y', y)
        textDf.at[i:i, 'y'] = y
    
    return textDf

# set a wider boder for each row and set the middle position of row as y
def row_identifier(row_startDf, a):
    rows = pd.DataFrame(columns=['lower_y', 'upper_y', 'y'])
    height = row_startDf['y2']-row_startDf['y1']
    rows['upper_y'] = row_startDf['y2'] + height*a
    rows['lower_y'] = row_startDf['y1'] - height*a
    rows['y'] = (rows['upper_y'] + rows['lower_y'])/2
    return rows 
       
def convert_to_df(text):
    
        student = []
        course = []
        mark = []
        result = []
        previousR = []
        indexMark = -1
        indexPreviousS = -1
        indexResultE = -1
        
        table_start = 0
        table_end = 0
        
        for i in range(len(text)):
            content = text.iloc[i]['text']
            temp = content.split(',')
            if 'Student name' in temp[0]:
                student.append(temp[0][12:].lstrip())
            elif 'Student ID' in temp[0]:
                student.append(temp[0][10:].lstrip())
            elif 'Student course ID' in temp[0]:
                student.append(temp[0][17:].lstrip())
            elif temp[0] == 'Course':
                course.append(temp[1])
            elif len(temp) == 1 and 'Credit points obtained' in temp[0]:
                course.append(temp[0][22:])
            elif len(temp) == 2 and 'Credit points obtained' in temp[0]:
                course.append(temp[1])
            elif len(temp) == 2 and 'Major' in temp[0]:
                course.append(temp[1])
            elif 'Credit from previous study' in temp[0]:
                indexPreviousS = i + 2
            elif 'Credit points gained' in temp[0] and table_start == 0:
                indexResultE = i - 1
            elif 'Unit of Study Results' in temp[0]:
                table_start = i + 2
            elif 'Credit points gained' in temp[0] and table_start > 0:
                table_end = i - 1
            elif len(temp) == 4 and temp[0] == 'Year':
                indexMark = i
                break
                     
        
        if indexPreviousS != -1:
            for i in range(indexPreviousS, indexResultE + 1):
#                 for i in range(indexPreviousS, table_start - 3):
                        content = text.iloc[i]['text']
                        temp = content.split(',')
                        if len(temp) < 3:
                            continue                            
                        previousR.append(temp)
            print (previousR)
        
        if table_end != 0:
            for i in range(table_start, table_end + 1):
                        content = text.iloc[i]['text']
                        temp = content.split(',')
                        
                        if 'Year' in temp[0]:
                            continue
                        temp0 = temp[0].split(' ')
                            
                        if (len(temp0) == 3):
                            temp.pop(0)
                            temp.insert(0, temp0[2])
                            temp.insert(0, temp0[1])
                            temp.insert(0, temp0[0])
                        elif len(temp0) == 2:
                            temp.pop(0)
                            temp.insert(0, temp0[1])
                            temp.insert(0, temp0[0])
                            
                        if len(temp) == 6:
                            temp1 = temp[4].split(' ')
                            if(len(temp1) == 1):
                                temp.insert(4, '')
                            elif len(temp1) == 2:
                                temp.pop(4)
                                temp.insert(4, temp1[1])
                                temp.insert(4, temp1[0])
                            
                        result.append(temp)
        else:
            for i in range(table_start, len(text)):
                        content = text.iloc[i]['text']
                        temp = content.split(',')
                        if 'Year' in temp[0]:
                            continue
                        temp0 = temp[0].split(' ')
                            
                        if (len(temp0) == 3):
                            temp.pop(0)
                            temp.insert(0, temp0[2])
                            temp.insert(0, temp0[1])
                            temp.insert(0, temp0[0])
                        elif len(temp0) == 2:
                            temp.pop(0)
                            temp.insert(0, temp0[1])
                            temp.insert(0, temp0[0])
                            
                        if len(temp) == 6:
                            temp1 = temp[4].split(' ')
                            if(len(temp1) == 1):
                                temp.insert(4, '')
                            elif len(temp1) == 2:
                                temp.pop(4)
                                temp.insert(4, temp1[1])
                                temp.insert(4, temp1[0])
                            
                        result.append(temp)

        if text.iloc[len(text)-1]['text'] == 'End of course result history':        
            #print("end")
            for i in range(indexMark, len(text)-1):
                content = text.iloc[i]['text']
                temp = content.split(',')
                if 'Year' in temp[0]:
                            continue
                mark.append(temp)
            mark = [y for x in mark for y in x]
            mark = np.reshape(mark, (-1, 4))
        elif indexMark > -1:
            #print("no end")
            for i in range(indexMark+1, len(text)):
                content = text.iloc[i]['text']
                temp = content.split(',')
                mark.append(temp)
    
        #s = pd.Series({'Student name':student[0], 'Student ID':student[1], 'Student course ID':student[2]})
        studentDf = pd.DataFrame(columns = ('Student name', 'Student ID', 'Student course ID'), data = [student])
        if len(course) == 3:
            courseDf = pd.DataFrame(columns = ('Course', 'Credit points obtained', 'Major(s)'), data = [course])
        elif len(course) == 2:
            courseDf = pd.DataFrame(columns = ('Course', 'Credit points obtained'), data = [course])
        marksDf = pd.DataFrame(columns = ('Year', 'Session', 'Semester average mark', 'Annual average mark'), data = mark)
        resultDf = pd.DataFrame(columns = ('Year', 'Session', 'Unit of study code', 'Unit of study name', 'Mark', 'Grade', 'Credit points'), data = result)
        previousDf = pd.DataFrame(columns = ('Unit of study Code', 'Unit of study Name', 'Credit points'), data = previousR)
    
        return studentDf, courseDf, marksDf, resultDf, previousDf

In [47]:
def convert_to_df2(text):
    result = []
    mark = []
    markSum = []
    indexResult = 0
    indexMark = 0
    for i in range(len(text)-1):
        content = text.iloc[i]['text']
        temp = content.split(',')
        if 'Credit points gained' in content:
            indexResult = i+1
            break
        elif temp[0] == 'Year':
#             print("2")
            indexMark = i+1
            break
    
    if indexResult > 0:
        if indexResult != 1:
            for i in range(0,indexResult-1): 
                content = text.iloc[i]['text']
                temp = content.split(',')
                if 'Year' in temp[0]:
                    continue
                temp0 = temp[0].split(' ')
                    
                if (len(temp0) == 3):
                    temp.pop(0)
                    temp.insert(0, temp0[2])
                    temp.insert(0, temp0[1])
                    temp.insert(0, temp0[0])
                elif len(temp0) == 2:
                    temp.pop(0)
                    temp.insert(0, temp0[1])
                    temp.insert(0, temp0[0])
                    
                if len(temp) == 6:
                    temp1 = temp[4].split(' ')
                    if(len(temp1) == 1):
                        temp.insert(4, '')
                    elif len(temp1) == 2:
                        temp.pop(4)
                        temp.insert(4, temp1[1])
                        temp.insert(4, temp1[0])
                    
                result.append(temp)

        for i in range(indexResult+2, len(text)-1):
            content = text.iloc[i]['text']
            temp = content.split(',')
            mark.append(temp)

    if indexMark > 0 :
        
        for i in range(indexMark, len(text)-1):
            content = text.iloc[i]['text']
            temp = content.split(',')
            mark.append(temp)
        
    elif indexMark == 0 and indexResult == 0:
        for i in range(len(text)-1):
            content = text.iloc[i]['text']
            temp = content.split(',')  #['','','','']
            mark.append(temp)           
                
    resultDf = pd.DataFrame(columns = ('Year', 'Session', 'Unit of study code', 'Unit of study name', 'Mark', 'Grade', 'Credit points'), data = result)
    marksDf2 = pd.DataFrame(columns = ('Year', 'Session', 'Semester average mark', 'Annual average mark'), data = mark)
        
    return resultDf, marksDf2

In [48]:

def convert_pdf_to_df(file):
    
    fp = open(file, 'rb')
    parser = PDFParser(fp)
    doc = PDFDocument(parser)
    
    rsrcmgr = PDFResourceManager()
    laparams = LAParams()
    device = PDFPageAggregator(rsrcmgr, laparams=laparams)
    interpreter = PDFPageInterpreter(rsrcmgr, device)
    
    textDf = pd.DataFrame(columns=['x1', 'y1', 'x2', 'y2', 'text'])
    resultDf = pd.DataFrame(columns = ('Year', 'Session', 'Unit of study code', 'Unit of study name', 'Mark', 'Grade', 'Credit points'))
    marksDf2 = pd.DataFrame(columns = ('Year', 'Session', 'Semester average mark', 'Annual average mark'))
    resultDf2 = pd.DataFrame(columns = ('Year', 'Session', 'Unit of study code', 'Unit of study name', 'Mark', 'Grade', 'Credit points'))
    
    page_no = 1
    
    for page in PDFPage.create_pages(doc):
        
        interpreter.process_page(page)
        layout = device.get_result()
        textDf = parse_layout(layout, 0.3, 30)
        textDf['text'] = textDf['text'].apply(lambda x:','+ x)
        textDf1 = textDf.groupby(by='y')['text'].sum().reset_index()
        textDf1 = textDf1.sort_values('y', ascending=False).reset_index(drop=True)
        textDf1['text'] = textDf1['text'].apply(lambda x:x[1:])
    
        if page_no == 1:
            studentDf, courseDf, marksDf, resultDf1, previousDf = convert_to_df(textDf1)
        elif page_no == 2:
            resultDf2, marksDf2 = convert_to_df2(textDf1)
            
        page_no += 1
        
    
    if marksDf2.empty == False:
        marksDf = pd.concat([marksDf, marksDf2])
    resultDf = pd.concat([resultDf1, resultDf2])
    
    return studentDf, courseDf, marksDf, resultDf, previousDf

In [49]:
studentDf, courseDf, marksDf, resultDf, previouDf = convert_pdf_to_df("pdfFiles/Transcript_fiveparts.pdf")

[['COMP9007', 'Algorithms', '6'], ['COMP9103', 'Software Development in Java', '6'], ['INFO5990', 'Professional Practice in IT', '6']]

In [50]:
studentDf

  Student name  Student ID Student course ID
0     Bruce Li  480480480        480480480/2

In [51]:
courseDf

,Course,Credit points obtained,Major(s)
0,Master of Information Technology,48,Data Management and Analytics

In [52]:
resultDf

,Year,Session,Unit of study code,Unit of study name,Mark,Grade,Credit points
0,2019,S1C,COMP5046,Natural Language Processing,90.0,HD,6
1,2019,S1C,COMP5318,Machine Learning and Data Mining,91.0,HD,6
2,2019,S1C,COMP5329,Deep Learning,92.0,HD,6
3,2019,S1C,INFO6007,Project Management in IT,93.0,HD,6
4,2019,S2CIJL,ISYS5070,Change Management in IT,94.0,HD,6

In [53]:
marksDf

   Year     Session Semester average mark Annual average mark
0  2019  Semester 1                  92.0                  NA

In [54]:
previouDf

  Unit of study Code            Unit of study Name Credit points
0           COMP9007                    Algorithms             6
1           COMP9103  Software Development in Java             6
2           INFO5990   Professional Practice in IT             6